In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Elakiya\Desktop\Python\Datasets\heart.csv")

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.drop("fbs" ,axis="columns",inplace=True)

In [5]:
df

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,174,0,0.0,1,1,2,0

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df.shape

(303, 13)

In [9]:
y=df['target']

In [10]:
X=df.drop(["restecg", "exang", "slope", "ca", "thal", "target"],axis="columns")

In [11]:
X

     age  sex  cp  trestbps  chol  thalach  oldpeak
0     63    1   3       145   233      150      2.3
1     37    1   2       130   250      187      3.5
2     41    0   1       130   204      172      1.4
3     56    1   1       120   236      178      0.8
4     57    0   0       120   354      163      0.6
..   ...  ...  ..       ...   ...      ...      ...
298   57    0   0       140   241      123      0.2
299   45    1   3       110   264      132      1.2
300   68    1   0       144   193      141      3.4
301   57    1   0       130   131      115      1.2
302   57    0   1       130   236      174      0.0

[303 rows x 7 columns]

In [12]:
from keras.utils import to_categorical

In [13]:
y=to_categorical(y)

In [14]:
type(y)

numpy.ndarray

In [15]:
y.shape

(303, 2)

# # Architechture

In [16]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [17]:
model=Sequential()
model.add(Dense(32,activation="relu",input_shape=(7,)))
model.add(Dense(16,activation="relu"))
model.add(Dense(2,activation="softmax"))

# # Compile

In [18]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

# # Fit the model

In [19]:
model.fit(X,y,epochs=20)

Epoch 1/20
10/10 [==============================] - 0s 7ms/step - loss: 4.7731 - accuracy: 0.6007
Epoch 2/20
10/10 [==============================] - 0s 3ms/step - loss: 2.2514 - accuracy: 0.6568
Epoch 3/20
10/10 [==============================] - 0s 2ms/step - loss: 1.7387 - accuracy: 0.6766
Epoch 4/20
10/10 [==============================] - 0s 2ms/step - loss: 1.6417 - accuracy: 0.6667
Epoch 5/20
10/10 [==============================] - 0s 3ms/step - loss: 1.4487 - accuracy: 0.6766
Epoch 6/20
10/10 [==============================] - 0s 3ms/step - loss: 1.4016 - accuracy: 0.6832
Epoch 7/20
10/10 [==============================] - 0s 3ms/step - loss: 1.3431 - accuracy: 0.6964
Epoch 8/20
10/10 [==============================] - 0s 3ms/step - loss: 1.3163 - accuracy: 0.6799
Epoch 9/20
10/10 [==============================] - 0s 3ms/step - loss: 1.2729 - accuracy: 0.6799
Epoch 10/20
10/10 [==============================] - 0s 3ms/step - loss: 1.1898 - accuracy: 0.6931
Epoch 11/20
10/10 [==============================] - 0s 2ms/step - loss: 1.1258 - accuracy: 0.6898
Epoch 12/20
10/10 [==============================] - 0s 2ms/step - loss: 1.0508 - accuracy: 0.6931
Epoch 13/20
10/10 [==============================] - 0s 3ms/step - loss: 1.0335 - accuracy: 0.6799
Epoch 14/20
10/10 [==============================] - 0s 2ms/step - loss: 0.9423 - accuracy: 0.6931
Epoch 15/20
10/10 [==============================] - 0s 3ms/step - loss: 0.9876 - accuracy: 0.7096
Epoch 16/20
10/10 [==============================] - 0s 3ms/step - loss: 0.8889 - accuracy: 0.6733
Epoch 17/20
10/10 [==============================] - 0s 3ms/step - loss: 0.9159 - accuracy: 0.6766
Epoch 18/20
10/10 [==============================] - 0s 3ms/step - loss: 0.9452 - accuracy: 0.6865
Epoch 19/20
10/10 [==============================] - 0s 3ms/step - loss: 0.8094 - accuracy: 0.6898
Epoch 20/20
10/10 [==============================] - 0s 2ms/step - loss: 0.7268 - accuracy: 0.7096

# # Predict

In [20]:
X

     age  sex  cp  trestbps  chol  thalach  oldpeak
0     63    1   3       145   233      150      2.3
1     37    1   2       130   250      187      3.5
2     41    0   1       130   204      172      1.4
3     56    1   1       120   236      178      0.8
4     57    0   0       120   354      163      0.6
..   ...  ...  ..       ...   ...      ...      ...
298   57    0   0       140   241      123      0.2
299   45    1   3       110   264      132      1.2
300   68    1   0       144   193      141      3.4
301   57    1   0       130   131      115      1.2
302   57    0   1       130   236      174      0.0

[303 rows x 7 columns]

In [21]:
df=pd.DataFrame({"age":[65], "sex":[1], "cp":[0], "trestbps":[140], "chol":[250], "thalach":[170], "oldpeak":[1.2]})

In [22]:
df.shape

(1, 7)

In [23]:
X.shape

(303, 7)

In [24]:
model.predict(df)

array([[0.07208177, 0.9279182 ]], dtype=float32)